html
{% extends 'base.html' %}

{% block title %}{{ lesson.title }} - {{ course.title }}{% endblock %}

{% block content %}







                        {{ lesson.title }}


                        {% if lesson.video_url %}



                        {% endif %}


                            {{ lesson.content|linebreaks }}




                                 Retour au Cours










                        {% extends 'base.html' %}

                        {% block title %}{{ lesson.title }} - {{ course.title }}{% endblock %}

                        {% block content %}
                        <div class="container lesson-detail">
                            <h1>{{ lesson.title }}</h1>

                            {% if lesson.video_url %}
                                <div class="lesson-video">
                                    <iframe src="{{ lesson.video_url }}" frameborder="0" allowfullscreen></iframe>
                                </div>
                            {% endif %}

                            <div class="lesson-body">
                                {{ lesson.content|linebreaks }}
                            </div>

                            <p><a href="/courses/{{ course.id }}/">Retour au Cours</a></p>

                            <aside class="lesson-sidebar">
                                <h3>Leçons</h3>
                                <ul>
                                    {% for l in lessons %}
                                        <li>{{ l.title }} - {{ l.duration_minutes }} min</li>
                                    {% endfor %}
                                </ul>
                            </aside>
                        </div>

                        {% endblock %}